html{
  padding: 15px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #6A3D1D;
}

.conteudo{
	position: absolute;
	left: 50%;
	margin-left: -350px;
}

#prateleiras{
  width: 640px;
  height: 480px;
  background: url(../img/wood-shelves.png);
  float: left;
  margin-top: 30px;
  border: #333 solid 4px;
}

.prateleira{
	float: left;
}

.pimenta{
  width: 125px;
  height: 122px;
  float: left;
  background: url(../img/bravo.png);
}

.pimenta_none{
  width: 125px;
  height: 122px;
  float: left;
  background: url(../img/bravo_off.png);
}

.biscoito{
  width: 99px;
  height: 121px;
  float: left;
  background: url(../img/biscoito.png);
}

.biscoito_none{
  width: 99px;
  height: 121px;
  float: left;
  background: url(../img/biscoito_off.png);
}

#traffic1{
  float: left;
  width: 100%;
  margin-top: 62px;
  margin-left:3px;
}

#traffic2{
  float: left;
  width: 100%;
  margin-top: 55px;
  margin-left:20px;
}

#traffic2 .biscoito{
  margin: 0 10px;
}